h6,h1,h2,h3,h4,body{
  margin: 0;
  font-family: 'Roboto', sans-serif;

}
body{background-color: #d9ecf2;}

nav {
  background-color: #d9ecf2;
height: 00px;
display: flex;
padding: 40px 60px;
justify-content: space-evenly;
font-size: 2rem;
color: dodgerblue;
}
.content{
      display: flex;
      justify-content: flex-start;
      background-color: #d9ecf2;
}
.options{
  display: flex;
flex-direction: column;
align-items: flex-start;
background-color: white;
max-height: 100%;
padding: 20px 20px;
width: 15%;
border-radius: 10px;
margin: 5% 0 5% 5%;
border-top: 2px solid grey;
border-right: 2px solid slategrey;

}
.options div a{

  padding: 20px;
width: 60px;
font-size: 1.3rem;
color: gray;
display: flex;
justify-content: flex-start;
margin: 3px;

    border: none;
    background-color: white;
}

.options div a:hover{
  color:blue;
}
.options div i{
  padding: 0 10px 0 0;

}




.heading{
  font-size: 2rem;
    display: flex;
    padding: 35px 35px 10px;
    color: cadetblue;
    font-weight: bold;
    width: 90%;
    border-bottom: 1px solid gray;
}


/* all contacts */
.Contacts{
  width: 80%;
    margin: 5%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.all-contacts{
    margin: 0 30px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.all-contacts a{
  width: 100%;
}
a .contact-info{
  flex-direction: row;
  background-color: white;

}
.contact-info{
  background-color: #d9ecf2;

  display: flex;
  flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10px;
    border-radius: 0 10px;
    padding: 10px;
}
.contact-info h2{
  margin:10px;
  color: black;
  padding: 20px;
border-bottom: 1px solid black;
}
.contact-info h3{
  margin:10px;
  color: gray;
  padding: 20px;
border-bottom: 1px solid black;
}
/* //all messages */


.Message{
  width: 30%;
    background-color: #d9ecf2;
    /* background-color: beige; */
    display: flex;
    flex-direction: column;
}
.all-message{
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: flex-start;
  margin: 5%;
  border-radius: 10px;
  width: 80%;

}
.message-info{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    width: 300%;
    border-bottom: 1px solid gray;

}


.single-message{
  display: flex;
flex-direction: column;
margin: 2vw;
background-color: white;
width: 50%;
height: 43vw;
}
.single-contact{
  display: flex;
  flex-direction: column;
  color: blue;
  border-bottom: 1px solid gray;
  margin: 5%;
  border-radius: 10px;
  background-color: white;
}
.single-messages{
  display: flex;
    flex-direction: column;
    margin: 20px;
width: 95%;

    font-size: 22px;

}
.one-message{
  display: flex;
  flex-direction: column;

      flex-wrap: wrap;
      margin: 10px;
      background-color: #d9e4dd;
      border-radius: 0 10px;
      padding: 10px;
}
.contact{
  display: flex;
    width: 100%;
    justify-content: space-between;
}
.send-message{
  display: flex;
  margin: 12px;
}

.fa-user, .fa-phone{
  margin: 10px;
}
form{
  display: flex;
  padding: 10px;
}
textarea{

     background-color: wheat;
      display: flex;
      border-radius: 12px;
      width: 90%;
      border: none;
}
.textarea {
    display: flex;
    border-radius: 12px;
    width: 90%;
    background-color: wheat;
}
form button{
  border: none;
    padding: 15px;
    margin: 5px 10px;
    width: 15%;
    color: white;
    background-color: cadetblue;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 100%;
}
.fa-paper-plane{
  transform: rotate(45deg);

}
.toggle{
  display: none;
}
.selected{
  color: cadetblue!important;
}
a{
  text-decoration: none;
color: black;
}
